/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  background-color: ;
  color :;
}
table {
  background-color: ;
}
.container {
  width: 100%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height:56px;
  
}
.footer  p {
  margin: 10px 0;
}

.mtop{
    margin-top: 10px;
}
.nw {
    white-space: nowrap;
}
.aw{
    width: auto;
}
.nav-tabs{
    margin-bottom: 20px;
}

.table .thumbnail{
    margin: 0;
}

.panel-footer .pagination {
    margin: 0;
}

.page-header {
    margin-top: 0;
    padding-bottom: 10;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    padding-left: 40px;
    

}
.page-header h1 {
  color: white;
  margin-top: 0;
}
.textpilkada{
  margin: 0px 80px 10.5px;
}
.login {
  margin: 0px 80px 10.5px;
}
.login label {
  font-family: Arial;
  padding-bottom: 5px;
}
.pencalon {
  margin: 0px 80px 10.5px;
}
.pemilih {
  margin: 0px 80px 10.5px;
}
.password {
  margin: 0px 80px 10.5px;
}
.hasilvoting{
  margin: 0px 80px 10.5px;
  padding-top: 60px;
}
.loginpemilih{
  margin: 0px 80px 10.5px;
}
.loginpemilih .glyphicon{
  margin:2px;
}
.loginpemilih label {
  font-family: Arial;
  padding-bottom: 5px;
}
.page-header {
  text-align: left;
}